{% extends "base.html.twig" %}

{% block body %}
    <h1>Analysis results</h1>
    <ul>
        {% for post in posts %}
            <li>
                <b>{{post.name}}</b>
                <p>{{post.content|raw}}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}